body {
  background-image: url('/src/Client/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.login-box {
  background: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  color: #4CAF50;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.login-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #e0e0e0;
}

.login-form input::placeholder {
  color: #ccc;
}

.login-form button {
  width: 80%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.login-form button:hover {
  background-color: #45a049;
}

.login-form p {
  margin-top: 20px;
  color: #e0e0e0;
}

.login-form a {
  color: #4CAF50;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
