body {
    font-family: Arial, sans-serif;
    background-image: url('/src/Client/images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }
  
  .header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .header h1 {
    color: white;
    font-size: 36px;
  }
  
  .signup-container {
    text-align: center;
  }
  
  .signup-box {
    position: relative;
    width: 500px;
    background: rgba(128, 128, 128, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
  }
  
  .signup-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #45a049;
  }
  
  .signup-form p {
    margin-top: 20px;
  }
  
  .signup-form a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .signup-form a:hover {
    text-decoration: underline;
  }
  
  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 850px;
  }
  
  .left {
    left: -570px;
  }
  
  .right {
    right: -570px;
  }
  